.channels {
    display: flex;
    flex-direction: column;
}

.selected {
    color: rgb(243, 246, 249) !important;
    background-color: rgb(32, 110, 159) !important;
}

.channel__list {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    min-height: 34px;
    position: relative;
    list-style: none;
    text-decoration: none;
    color: rgb(134, 134, 136);
}

.ChannelListItem {
    padding-left: 45px;
    min-height: 33px;
    display: flex;
    align-items: center;
}

.channel__list > a {
    text-decoration: none;
    color: rgb(134, 134, 136);
    display: inline-block;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    white-space: initial;
}

.channel__list i {
    padding-right: 10px;
    font-size: 14px;
    position: absolute;
    left: 25px;
    top: 10px;
}

.ChannelListItem {
    padding-left: 45px;
    min-height: 33px;
    display: flex;
    align-items: center;
}

.channel__list:hover {
    background-color: rgb(39, 36, 44);
}
