.channel__list {
    position: absolute;
    display: flex;
    text-align: center;
    font-size: normal;
    align-items: center;
    justify-content: flex-start;
    margin-left: 3em;
    position: relative;
    z-index: 2;
    /* bottom: 1.2em; */
    list-style: none;
}

.channel__list > li {
    padding: 7px;
    /* bottom: 0.2em; */
}
