.sidebar {
    display: flex;
    flex-direction: column;
    flex: .25;
    height: 100vh;
    background-color: rgb(25,23,29);
    max-width: 300px;
    position: relative;
    top: 48px;
}

.sidebar hr {
    width: 100%;
    color: gray;
}

.sidebar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(28,26,32);
    color: white;
    border-bottom: 3px solid rgb(25,23,29);
    height: 60px;
    padding-left: 20px;
}


.sidebar__channels, .sidebar__messages {
    flex: 1;;
}

.sidebar__channelButton {
    display: flex;
    position: relative;
    left: 8em;
    column-gap: 1em;

}

.sidebar__messageButton {
    display: flex;
    position: relative;
    left: 4.6em;
    column-gap: 1em;
}

.sidebar__header {
    display: flex;
    justify-self: space-between;
    align-items: center;
    /* padding: 10px; */
    padding-left: 15px;
    column-gap: 1em;
    height: 2em;
    /* background-color: #2f3135; */
    color: grey;

}

.sidebar__channelsList {
    color: grey;
    display: flex;
}

.channellistnavlink {
    text-decoration: none;
    color: gray;
}
