.searchbar__top {
    background-color: rgb(18,16,22);
    /* background-color: blue; */
    border-bottom: solid lightgrey;
    width: 100vw;
    height: 3em;
    display: flex;
    position: absolute;
    z-index: 1;
}


.searchbar__blank {
    flex: .5;
}

.searchbar__searchbar {
    flex: 1
}

.searchbar__avatar {
    flex: .5;
}

.searchbar__searchbar>input {
    width: 50%;
    position: absolute;
    top: 12px;
    /* margin: auto; */
    background-color: rgb(52,53,57);
    border-top: 1px solid gray;
    border-radius: 5px;
    border: 2px solid rgb(82, 84, 82);
    /* filter: opacity(.25); */
}

.searchbar__searchbar>input:focus {
    outline: none;
    filter: none;
    background-color: rgb(52,53,57);
}

.searchbar__searchbar>input::placeholder {
    color: gray;
    display: flex;
    justify-content: center;
    text-align: center;
}
