.CreateMessageFormDiv {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.CreateMessageErrors ul {
    color: rgb(194, 92, 92);
    text-decoration: none;
    list-style: none;
}

.MessageTextBoxArea {
    padding: 0 21px 0 21px;
}

.MessageTextBoxArea > textarea {
    min-height: 170px;
    width: 100%;
    background-color: rgb(37,40,43);
    border: 1px solid rgb(81,83,82);
    border-radius: 7px;
    color: rgb(196,198,199);
    font-family: Lato;
    font-size: 15px;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

.MessageTextBoxArea > textarea:active {
    border-color: rgb(136,138,140);
}

.MessageTextBoxArea > button {
	background: none;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
    font-size: 18px;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 32px;
    bottom: 27px;
    color: rgb(134, 134, 136);
}

.MessageTextBoxArea > button:disabled {
    color: rgb(70, 70, 70);
    cursor: not-allowed;
}

.MessageTextBoxArea > button:hover:enabled {
    cursor: pointer;
    color: inherit;
    border-radius: 4px;
}

.UpdateMessageButtonContainer {
    height: 75px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.UpdateMessageButton > button:disabled {
    cursor:not-allowed;
    color: rgb(134, 134, 136);
    background-color: rgb(27,30,34);
    border:2px solid rgb(53,53,58);
}

.DeleteMessageButton > button:hover {
    border:2px solid rgb(190, 92, 92) !important;
    color: rgb(190, 92, 92) !important;
}
