.ChannelPageBody {
    position: absolute;
    top: 50px;
    left: 258px;
    /* width: calc(100vw - 257px); */
    width: calc(100vw - 257px);
    height: calc(100vh - 50px);
    color: white;
    background-color: rgb(27,30,34);
}

.ChannelPageTitle {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    height: 48px;
    color: rgb(196,197,198);
    background-color: rgb(27,30,34);
    border-bottom:1px solid rgb(53,53,58);
    padding-left: 25px;
    z-index: 2;
}

.ChannelPageTitleLeft {
    display: flex;
}

.ChannelPageTitleLeft > i {
    padding: 19px 6px 0 0;
    z-index: 2;
}

.ChannelPageTitleLeft > h2 {
    margin: 0;
    /* padding-top: 11px;
    padding-left: 6px; */
    padding: 11px 10px 0 0;
    font-size: 22px;
    z-index: 2;
}

.ChannelPageTitleLeft > p {
    padding: 5px 10px 0 0;
    font-size: 14px;
    color: rgb(134, 134, 136);
}

#EditChannelButton {
    color: rgb(196, 202, 208);
    position: absolute;
    top: 12px;
    right: 50px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#EditChannelButton:hover {
    background-color: rgb(42,41,47);
    border-radius: 4px;
    cursor: pointer;
}

.MessagesBody {
    display: flex;
    flex-direction: column-reverse;
    width: calc(100%);
    max-height: calc(100% - 240px);
    overflow-y: overlay;
    position: relative;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    word-wrap: break-word;
    white-space: initial;
}

.SingleMessageBody {
    display: flex;
    padding: 5px 50px 10px 25px;
    white-space: initial;
    word-wrap: break-word;
}

.SingleMessageBody:hover {
    background-color: rgb(46,49,52);
}

.MessageProfile {
    color: rgb(245, 235, 92);
    font-size: 45px;
    padding-right: 10px;
}

.MessageInfo {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

.MessageName {
    color: rgb(208,209,210);
    font-weight: bold;
    font-size: 18px;
}

.MessageTime {
    color: rgb(172,172,174);
    font-size: 13px;
    padding-top: 5px;
    padding-left: 12px;
}

.MessagesContent {
    color: rgb(196,198,199);
}

/* .EditMessageButton {
    color: rgb(196, 202, 208);
    position: absolute;
    right: 50px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.EditMessageButton:hover {
    background-color: rgb(42,41,47);
    border-radius: 4px;
    cursor: pointer;
} */

#EditMessageButton {
    color: rgb(196, 202, 208);
    position: absolute;
    right: 50px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#EditMessageButton:hover {
    background-color: rgb(42,41,47);
    border-radius: 4px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 22px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    /* background-color: #d6dee1; */
    background-color: rgb(118,121,123);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(118,121,123);
}
